[submodule "doc"]
	path = Attic/doc
	url = https://github.com/pagekite/Mailpile.wiki.git
	branch = master
[submodule "shared-data/contrib/print"]
	path = Attic/shared-data/contrib/print
	url = https://github.com/mailpile/Mailpile-print.git
[submodule "submodules/gui-o-matic"]
	path = Attic/submodules/gui-o-matic
	url = https://github.com/mailpile/gui-o-matic
[submodule "submodules/gui-o-mac-tic"]
	path = Attic/submodules/gui-o-mac-tic
	url = https://github.com/mailpile/gui-o-mac-tic
[submodule "submodules/upagekite"]
	path = submodules/upagekite
	url = https://github.com/pagekite/upagekite/
[submodule "submodules/python-passcrow"]
	path = submodules/python-passcrow
	url = https://github.com/mailpile/python-passcrow
[submodule "submodules/pyqrcode"]
	path = submodules/pyqrcode
	url = https://github.com/mnooner256/pyqrcode
