[submodule "submodules/upagekite"]
	path = submodules/upagekite
	url = https://github.com/pagekite/upagekite/
[submodule "submodules/python-passcrow"]
	path = submodules/python-passcrow
	url = https://github.com/mailpile/python-passcrow
[submodule "submodules/pyzipper"]
	path = submodules/pyzipper
	url = https://github.com/BjarniRunar/pyzipper
[submodule "submodules/python-sop"]
	path = submodules/python-sop
	url = https://gitlab.com/dkg/python-sop.git
[submodule "submodules/websockets"]
	path = submodules/websockets
	url = https://github.com/python-websockets/websockets
[submodule "submodules/pymap"]
	path = submodules/pymap
	url = https://github.com/icgood/pymap
[submodule "submodules/kettlingar"]
	path = submodules/kettlingar
	url = https://github.com/mailpile/kettlingar
