table {
  max-width: 100%;
  width: 100%;
}
table.results tr {
  vertical-align: top;
}
table.results tr td {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 2px;
  padding-right: 2px;
}

table.results tr td.thread {
  max-width: 1em;
}
table.results tr td.thread a {
  font-size: 0;
  color: #999;      /* @search_color_grip */
  visibility: hidden;
  text-decoration: none;
}
table.results tr td.thread a:after {
  content: "::";
  visibility: visible;
  font-size: 10px;
}
table.results tr td.authors {
  max-width: 200px;
}
table.results tr td.subject {
  max-width: calc( var(--content-width) - 400px );
}
table.results tr td.tags {
  color: #999;      /* @search_color_tags */
  max-width: 50px;
}
table.results tr td.date_relative {
  color: #999;      /* @search_color_date_relative */
  padding-left: 5px;
  text-align: center;
}


table.results tr:hover {
  background: #ffd;
}

div.email div.email-summary {
  display: none;
}
div.email table.email-header,
div.email div.email-body div.part[data-mimetype="text/plain"] {
  white-space: pre-line;
  margin-bottom: 1em;
}
div.email table.email-header tr {
  text-align: left;
}
div.email table.email-header th {
  width: 10%;
  font-weight: bold;
  color: #555;
}
div.email table.email-header tr.email-subject td {
  font-weight: bold;
}
div.email div.email-body .mDownload {
  float: right;
}
div.email div.email-body div.mHide {
  display: none;
}
div.email div.email-body div.mPartAttachment {
  padding-left: 1em;
  color: #777;
}
div.email div.email-body a.mDownload {
  opacity: 0;
}
div.email div.email-body a.mDownload:hover,
div.email div.email-body div.mPartAttachment a.mDownload {
  opacity: 0.75;
}

div.email table.email-header,
div.email div.email-body div.part {
  border-bottom: 1px dashed #777;
  margin-bottom: 1.5em;
}
